body{
	margin:0;
	background-color: rgba(0,0,0,.5);
}

html{

}

h1{
	display: inline-block;
	padding: 0;
	text-align: center;
	vertical-align: bottom

}

#thegod{
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.animated {
  animation-duration: 2.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {transform: scale(1);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1);}
}
.pulse {
  animation-name: pulse;
  animation-duration: 1s;
}

div beautiful-container{
	background-color: #AFEEEE;

}

.center{
	display: inline-block;
	margin: auto;
    text-align:center;
}

#title {
	font-family: "Comic Sans MS", cursive, sans-serif;

	color:#0000CD;

}

.darkBG {
	background: #999;
}

.darkerBG {
	background: #666;
}

.darkestBG {
	background: #33
}
.nav {
	display: inline;
}
/*.row{

}

.col {
	float: left;
	background:#333;
	padding:10px 0.5%;
	margin: 0.5%;
	width: 31%;
}*/
/*footer{
	clear: both;
	/*clear float both left and right

*/

